*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D48;
  font-weight: 300;
  line-height: 1.6; }  


.container {
  display: grid;
  grid-template-rows: 50vw repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }


.heading-1, .heading-2, .heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem; }

.heading-2 {
  font-size: 4rem;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  color: #f9f7f6;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transform: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.heading-primary {
  color: #f9f7f6;
  margin-top: 10rem;
  backface-visibility: hidden; }
  @media only screen and (min-width: 320px) {
    .heading-primary {
      margin-top: 15rem;
    }
  } 

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 20px;
  text-align: center;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
  @media only screen and (max-width: 50em) {
    .heading-primary-main {
      font-size: 4rem;
      letter-spacing: 10px; } }

.heading-primary-sub {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 10px;
  text-align: center;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
  @media only screen and (max-width: 50em) {
    .heading-primary-sub {
      font-size: 2rem;
      letter-spacing: 5px; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.sidebar__checkbox {
  display: none; }

.sidebar__button {
  background-color: #f9f7f6;
  height: 6rem;
  width: 6rem;
  position: fixed;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.sidebar__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  background-image: radial-gradient(#c69963, #B28451);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.sidebar__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transition: all .8s; }

.sidebar__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.sidebar__item {
  margin: 1rem; }

.sidebar__link:link, .sidebar__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #f9f7f6;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f9f7f6 50%);
  background-size: 260%;
  transition: all .4s; }

.sidebar__link:hover, .sidebar__link:active {
  background-position: 100%;
  color: #101d2c;
  transform: translateX(1rem); }

.sidebar__checkbox:checked ~ .sidebar__background {
  transform: scale(80); }

.sidebar__checkbox:checked ~ .sidebar__nav {
  opacity: 1;
  width: 100%; }

.sidebar__icon {
  position: relative;
  margin-top: 3rem; }
  .sidebar__icon, .sidebar__icon::before, .sidebar__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #101d2c;
    display: inline-block; }
  .sidebar__icon::before, .sidebar__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all, .2s; }
  .sidebar__icon::before {
    top: -0.8rem; }
  .sidebar__icon::after {
    top: 0.8rem; }

.sidebar__button:hover .sidebar__icon::before {
  top: -1rem; }

.sidebar__button:hover .sidebar__icon::after {
  top: 1rem; }

.sidebar__checkbox:checked + .sidebar__button .sidebar__icon {
  background-color: transparent; }

.sidebar__checkbox:checked + .sidebar__button .sidebar__icon::before {
  top: 0;
  transform: rotate(135deg); }

.sidebar__checkbox:checked + .sidebar__button .sidebar__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation {
  margin-right: 10em;
  grid-column: col-start 5 / full-end; }
  .navigation__search {
    /*width: -22rem;*/
    /*margin: -1.25rem 1.25rem; change*/
    /*padding: 4rem; /*change*/}
    @media only screen and (max-width: 75em) {
      .navigation__search {
        margin: 0; } }

*:focus {
  outline: none; }

  /*
#search {
  width: -350px; }

#handle {
  position: relative;
  height: 70px;
  padding: 10px; }

#handle:after {
  content: ".";
  display: table;
  clear: both;
  height: 0;
  visibility: hidden; }

.form {
  position: absolute;
  top: 0;
  right: 0;
  left: -260px;
  height: 40px;
  margin: 0 44px 0 18px;
  opacity: 0; }

#search-input {
  display: block;
  width: 100%;
  height: 100%;
  color: #f9f7f6;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1;
  padding: 0;
  border: 0;
  background-color: transparent; }

#search-input::placeholder {
  color: #f9f7f6; }

#circle {
  position: relative;
  width: 48px;
  height: 48px;
  float: right;
  box-sizing: border-box;
  border: 4px solid #f9f7f6;
  border-radius: 100px;
  overflow: hidden; }

#r-btn {
  right: -3px;
  top: -12px;
  margin: -2px -2px 0 0;
  transform: rotateZ(45deg); }

#r-btn:before,
#r-btn:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%; }

#r-btn:before {
  top: 0; }

#r-btn:after {
  bottom: 0; }

#c-btn {
  right: 9px;
  bottom: 0;
  transform: rotateZ(-45deg); }

#c-btn,
#r-btn {
  position: absolute;
  width: 4px;
  height: 22px;
  border-radius: 0px;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.41, 1.42) all; }

#c-btn,
#r-btn:before,
#r-btn:after {
  background-color: #f9f7f6; }

#circle,
form.active {
  transition: 0.3s ease all; }

#submit-button,
#init-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  cursor: pointer; }

#submit-button {
  opacity: 0;
  z-index: -1; }

#submit-button.active {
  z-index: 2; }

#init-button {
  z-index: 1; }

#handle.active #circle {
  width: 50%; }

form.active {
  left: 0;
  opacity: 1; }

#handle.active #c-btn {
  transform: rotateZ(-44deg) translateY(-34px); }

#handle.active #c-btn.change {
  border-radius: 0px 0px 4px 4px;
  transform: rotateZ(-90deg) translateY(-34px) translateX(24px); }

#handle.active #r-btn {
  transform: rotateZ(44deg) translateY(34px); }

#handle.active #r-btn.change:before {
  top: -4px;
  left: -5px;
  transform: rotateZ(90deg) translateX(10px); }
*/
.header {
  grid-column: full-start / full-end;
   }
  .header__heading {
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center; }
    @media only screen and (min-width: 320px) {
      .header__heading {
        grid-template-rows: 1fr min-content minmax(6rem, min-content);
      }
    } 
    @media only screen and (min-width: 1024px) {
    .header__heading {
    grid-template-rows: min-content minmax(6rem, min-content);
    }  
    }

.dishes {
  grid-column: center-start / center-end;
  margin: 10em 20em; /*change*/
  display: grid;
  grid-template-columns: repeat(2, minmax(25rem, 1fr));
  grid-gap: 7rem; }
  @media only screen and (min-width: 320px) {
    .dishes {
      margin: 5em 5em;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); 
    }
  }
  @media only screen and (min-width: 480px) {
    .dishes {
      margin: 12em 5em 5em 5em;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
  }
  @media only screen and (min-width: 782px) {
    .dishes {
      margin: 10em 10em;
      grid-template-columns: repeat(2, minmax(25rem, 1fr));
    }
  }

.dish {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.5rem; }
  .dish__img {
    width: 100%;
    height: -webkit-fill-available;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 0; }
  .dish__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: #c69963;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 1;
    justify-self: end;
    margin: 2rem; }
  .dish__name {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    justify-self: center;
    align-self: end;
    z-index: 0;
    width: 80%;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    transform: translateY(50%); }
  .dish__text {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    font-family: "Josefin Sans", sans-serif;
    z-index: 3;
    text-align: center;
    padding: 1.25rem; 
  }
  .dish__name a {
    text-decoration: none;
    color: #f9f7f6;
  }

.vlog { /*change*/
  display: flex;
}
@media only screen and (min-width: 320px) {
  .vlog {
    display: grid;
    grid-template-rows: auto auto;
  }
}
@media only screen and (min-width: 782px) {
  .vlog {
    display: flex;
  }
}

.vlog__video {
  width: 50%; /*change*/
  float: left; /*change*/
  box-sizing: border-box; /*change*/

  grid-column: full-start / col-end 4;
  background-color: #c69963;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/vlog-pic);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  /*@media only screen and (max-width: 50em) {
    .vlog__video {
      grid-column: 1 / -1;
      padding: 6rem; } }*/
      @media only screen and (min-width: 320px) {
        .vlog__video {
          grid-row: 1/2;
          width: 100vw;
          margin-top: 5em;
        }
      }
      @media only screen and (min-width: 782px) {
        .vlog__video {
          width: 50%;
          margin-top: 0;
        }
      }

.vlog__video--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  /*@media only screen and (max-width: 50em) {
    .vlog__video--1 {
      grid-column: 1 / 5;
      grid-row: 1 / -1;
      width: 100%; } }*/

.vlog__video--2 {
  width: 120%;
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  z-index: 1;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  @media only screen and (min-width: 320px) {
    .vlog__video--2 {
      visibility: hidden;
    }
  }
  @media only screen and (min-width: 782px) {
    .vlog__video--2 {
      visibility: visible;
    }
  }

.vlog__content {
  width: 50%; /*change*/
  float: left; /*change*/
  box-sizing: border-box; /*change*/

  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  /*@media only screen and (max-width: 50em) {
    .vlog__content {
      grid-column: 1 / -1;
      grid-row: 3 / 4; } }*/
      @media only screen and (min-width: 320px) {
        .vlog__content {
          grid-row: 2/3;
          width: 100vw;
        }
      }
      @media only screen and (min-width: 782px) {
        .vlog__content {
          width: 50%;
    }
  }

.vlog__text {
  font-size: 2rem;
  margin-bottom: 4rem; }

.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  @media only screen and (min-width: 320px) {
    .gallery {
      grid-gap: 0.5rem;
    }
  }
  @media only screen and (min-width: 1024px) {
    .gallery {
      grid-gap: 1.5rem;
    }
  }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / span 1; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4 / span 1;
    grid-column: 5 / span 1; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / span 1; }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / span 1; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / span 1; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / span 1; }
  .gallery__img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: block; }

.myBlog {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin: 10em 20em;
}
@media only screen and (min-width: 320px) {
  .myBlog {
    margin: 6em 4em;
    grid-gap: 4rem;
  }
}
@media only screen and (min-width: 480px) {
  .myBlog {
    margin: 6em 4em;
    grid-gap: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .myBlog {
    margin: 10em 10em;
    grid-gap: 7em;
  }
}
  .myBlog .topic {
    display: grid;
    grid-template-rows: repeat(4, auto-fit); }
    .myBlog .topic__img {
      width: 100%;
      height: auto; /*change*/
      grid-row: 1 / 2;
      grid-column: 1 / 2; }
    .myBlog .topic__star {
      fill: #c69963;
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      justify-self: end; }
      /*Change*/
    .myBlog .topic__name { 
      grid-row: 3 / 4;
      grid-column: 1 / 2; }
    .myBlog .topic__text {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      font-size: 2rem;
      margin-bottom: 4rem; }
    .myBlog .topic__btn {
      width: 50%;
      justify-self: end; }
    .topic__btn a { /*change*/
      text-decoration: none;
      color: #f9f7f6;
    }  
    .topic {
      margin-bottom: 5rem;
    }
    /*change*/
    .topic__name a {
      text-decoration: none;
      color: #54483A;
    }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #f9f7f6;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all, .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(249, 247, 246, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  text-align: center; }

  /*Page*/

  .metabox {
    background-color: #FAF0CA;
    border-radius: 3px;
    padding: 10px 15px;
    display: inline-block;
    /*margin: 0 0 5em 0;*/
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
  }
  @media only screen and (min-width: 320px) {
    .metabox {
      visibility: hidden;
      margin-left: 3em;
    }
  }
  @media only screen and (min-width: 782px) {
    .metabox {
      visibility: visible;
    }
  }
  

  .metabox--position-up {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
  }
  @media only screen and (min-width: 1024px) {
    .metabox--position-up {
      transform: translateY(-100%);
    }
  }
  @media only screen and (min-width: 1280px) {
    .metabox--position-up {
      transform: translateY(-100%);
    }
  }

  @media only screen and (min-width: 1600px) {
    .metabox--position-up {
      transform: translateY(-100%);
    }
  }


  .metabox--with-home-link {
    padding: 0;
  }
  .metabox__main {
    padding: 10px 15px 10px 11px;
  }
  .metabox p {
    margin: 0;
    font-size: 0.9rem;
    color: #a79038;
    font-size: 2rem;
    line-height: 1.65;
  }
  .metabox a {
    color: #a79038;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.65;
  }
  .metabox a:hover {
    text-decoration: underline;
  }
  .metabox .metabox__blog-home-link {
    background-color: #0D3B66;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px 0 0 3px;
    font-weight: normal;
  }
  .metabox .metabox__blog-home-link:hover {
    text-decoration: none;
    background-color: #0a2e4f;
  }


  .page-section {
    max-width: 960px;
    margin: 0 auto;
    /*padding-top: 2em;*/
    /*padding-bottom: 4em;*/ 
    position: relative;
    font-size: 2rem;
    line-height: 1.65;
  }
  @media only screen and (min-width: 320px) {
    .page-section {
      margin-top: -2.5em;
    }
  }
  @media only screen and (min-width: 782px) {
    .page-section {
      margin-top: -3.5em;
    }
  }
  /*@media only screen and (min-width: 1280px) {
    .page-section {
      max-width: 960px;
    }
  }*/

  .page-links {
    position: relative;
    z-index: 1;
    background-color: #FAF0CA;
  }
  @media (min-width: 782px) {
    .page-links {
      margin: 3em 3em 2em 2em;
      width: 300px;
      float: right;
    }
  }
  .page-links__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    background-color: #101d2c;
    color: #fff;
  }
  .page-links__title a {
    color: #fff;
    text-decoration: none;
    background-color: #101d2c;
  }
  .page-links li {
    border-top: 1px solid #f4de89;
  }
  .page-links li:first-child {
    border-top: none;
  }
  .page-links__active, .page-links .current_page_item {
    text-align: center;
    background-color: #f4e6b1;
    color: #101d2c;
    font-weight: bold;
  }
  .page-links li a {
    display: block;
    text-align: center;
    padding: 17px 10px;
    text-decoration: none;
    color: #101d2c;
    transition: all 0.3s;
  }
  .page-links li a:hover {
    color: #0a2b4b;
    background-color: #f2e3aa;
  }
  
  .min-list {
    padding: 0;
    margin: 0;
  }
  
  .min-list li {
    list-style: none;
  }

  .current_page_item {
    list-style: none;
    text-decoration: none;
    border-top: 1px solid #6D5D48;
    text-align: center;
  }
    
  .current_page_item:first-child {
      border-top: none;
    }

@media only screen and (min-width: 782px) {
  .page-container  {
    margin-top: 5em;
  }
}

.page-container p {
  padding: 10px 0;
  font-size: larger;
}

.page-content {
  color: #6D5D48;
  font-weight: 300;
  line-height: 1.6;
}
@media only screen and (min-width: 320px) {
  .page-content {
    padding: 3em 2em;
  }
}
@media (min-width: 782px) {
  .page-content {
    padding: 2em 3em 3em 3em;
  }
}
  
/* Blog */

.pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
@media only screen and (min-width: 768px) {
  .row {
    justify-content: space-between;
  }
}

.col {
  flex-basis: calc(50% - 20px); 
  padding: 25px;
  box-sizing: border-box;
}
@media only screen and (min-width: 320px) {
  .col {
    flex-basis: auto;
  }
}
@media only screen and (min-width: 768px) {
  .col {
    flex-basis: calc(50%);
  }
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}
@media only screen and (min-width: 768px) {
  .blog-container {
    margin: 5em 3em;
  }
}

/* Banner*/

.hero {
  position: relative;
  width: 100%;
  height: 80vh;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.8));
  z-index: -1;
}

.content-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #fff;
}


.blog-page {
  font-weight: 300;
  line-height: 1.6;
}
@media only screen and (min-width: 320px) {
  .blog-page {
    padding: 2em;
  }
}
/*
@media only screen and (min-width: 768px) {
  .row {
    margin: 3em;
  }
}*/

.blog-page p {
  padding: 1rem 0;
}

.pd-top {
  padding-top: 6em;
} 
@media only screen and (min-width: 768px) {
  .pd-top {
    padding-top: 2em;
  }
}

.metabox-categories {
  margin-top: 1.5em;
  margin-left: 2em;
}

/* Recipe */
.recire-grid {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  padding: 20px;

  display: grid;
  grid-template-rows: min-content minmax(min-content);
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2.5em;
}

.ingredients ul {
  list-style-type: none;
  padding-left: 0;
}
.ingredients li {
  margin-bottom: 10px;
}

.btn-recipe {
  justify-self: start;
}

.btn-recipe a {
  text-decoration: none;
  color: #f9f7f6;
}

.checkbox + label {
  cursor: pointer;
}

.checkbox:checked + label {
  background-color: #101d2c;
  padding: 20px; 
}

.ingredients ul {
  list-style: none;
  padding-left: 0;
}

.ingredients li {
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 10px;
}

.ingredients label {
  display: block;
  font-size: 20px;
  line-height: 1.5;
}


.ingredients label:hover {
  color: #101d2c;
  cursor: pointer;
}

.recipe-photo {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.steps ul {
  counter-reset: step-counter;
  list-style: none;
  padding: 0;
}

.steps li {
  position: relative;
  padding-left: 5em;
  margin-bottom: 10px;
}

.steps li::before {
  content: "Step " counter(step-counter);
  counter-increment: step-counter;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
}


/* Search*/
.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.96);
  visibility: hidden;
  opacity: 0;
  transform: scale(1.09);
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  box-sizing: border-box;
}
.search-overlay p {
  padding-top: 15px;
}
.search-overlay .event-summary p {
  padding-top: 0;
}
.search-overlay .event-summary {
  margin-bottom: 0;
  margin-top: 20px;
}
body.admin-bar .search-overlay {
  top: 32px;
}
.search-overlay__top {
  background-color: rgb(198, 153, 99);
}
.search-overlay__icon {
  margin-right: 10px;
  font-size: 1.8rem;
  color: #101d2c;
}
@media (min-width: 960px) {
  .search-overlay__icon {
    font-size: 2.5rem;
  }
}
.search-overlay--active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.search-overlay__section-title {
  margin: 30px 0 1px 0;
  font-weight: 400;
  color: #0D3B66;
  font-size: 4rem;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.search-overlay__close {
  position: absolute;
  top: 13px;
  right: 16px;
  font-size: 2.1rem;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #fff;
  color: #F95738;
  line-height: 0.7;
}
@media (min-width: 530px) {
  .search-overlay__close {
    top: 18px;
    font-size: 2.1rem;
  }
}
@media (min-width: 960px) {
  .search-overlay__close {
    top: 26px;
    font-size: 2.8rem;
  }
}
.search-overlay__close:hover {
  opacity: 1;
}
.search-overlay .one-half {
  padding-bottom: 0;
}
.search-term {
  width: 75%;
  box-sizing: border-box;
  border: none;
  padding: 15px 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
  outline: none;
  color: #101d2c;
}
@media (min-width: 530px) {
  .search-term {
    font-size: 1.5rem;
  }
}
@media (min-width: 960px) {
  .search-term {
    width: 80%;
    font-size: 3rem;
  }
}
/*
.space-between {
  
  margin: 0 5em;
}*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
  background-color: transparent; 
  z-index: 2; 
}

.search,
.navigation {
  display: flex;
  align-items: center;
}

.fa-icon {
  font-size: 5em;
}

.fa-search {
  margin-left: 2em;
  padding: 20px;
  font-size: 5em;
}

@media only screen and (min-width: 320px) {
  .fa-search {
    margin-left: 0;
    padding: 10px;
    font-size: 3em;
  }
  }
  @media only screen and (min-width: 600px) {
    .fa-search {
      margin-left: 0;
      padding: 20px;
      font-size: 5em;
    }
    }

.fa-window-close {
  margin-right: 2em;
}

.body-no-scroll {
  overflow: hidden;
}

.search-container {
  margin-top: 2em;
  font-size: 20px;
  margin-left: 5em;
  padding: 20px;
}

.spinner-loader {
  margin-top: 45px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(0, 0, 0, 0.2);
  border-top-color: black;
  animation: spin 1s infinite linear;
}

.link-list li {
  padding: 1rem 0;
  font-size: 1.5rem;
  border-bottom: 1px dotted #DEDEDE;
}

.link-list li:last-child {
  border-bottom: none;
}
.link-list a {
  color: #101d2c;
  font-size: 20px;
}

.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}
